.buttonFort {
    background-color: #d4ec9882;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 50%; /* El botón ocupará el 50% del ancho del contenedor */
    max-width: 300px; /* Máximo ancho para evitar que sea demasiado grande */
    margin: 20px auto; /* Centra el botón horizontalmente */
    display: block;
    border: 1px solid #000000;
    text-align: center;
  }
  
  h3 {
    color: #ff0000;
    font-family: 'Roboto';
  }